{% extends'::base.html.twig' %}
{% block body %}
{% if result  %}
<table>
    <thead>
        <tr>
       
            <th><h3> Codigo</h3></th> 
            <th><h3> Nombre</h3></th> 
            <th><h3> version</h3></th> 
          
        </tr>        
    </thead>
    <tbody>
        
    {% for entity in result %} 
           
            <tr>               
                <td>{{ entity.codigo }}</td>            
                <td>{{ entity.nombre }}</td>
                 <td>{{ entity.version }}</td>
           </tr>                       
    {% endfor %}           
    </tbody>
</table>
{% endif %}
{% endblock %}


